#root {
  background-color: #c4ffc4;
}

.App {
  justify-content: center;
  align-items: center;
  display: grid;
  font-family: "Lato", sans-serif;
  font-size: medium;
  line-height: 1.9em;
  height: 100%;
}

input,
select {
  font-size: small;
  padding: 2px;
}

div {
  padding: 8px 0;
}

p {
  font-size: x-small;
  line-height: normal;
}

header {
  font-family: "Alegreya Sans SC", serif;
  font-size: 60px;
  text-align: center;
  line-height: 1em;
}

.input-wrapper,
p {
  padding: 5%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1000px) {
  .App {
    height: 100vh;
  }
}
